<template name="printPayment">
    <div class="paper-a5-portrait">
        <div class="title">
            <table class="report-title" style="width:100%;">
                <tr align="center">

                    <td colspan="2">
                    <td>
                        <img src="/rabbit1.png">&nbsp;
                    </td>
                    {{#each company}}
                        <td>
                  <span class="report-company-name"
                        style="font-family: 'Khmer OS Muol">{{khName}}</span><br>
                            <span class="report-company-name">{{enName}}</span><br>
                            <span class="report-company-name">ប័ណ្ណបង់ប្រាក់ / Pay-In Slip</span><br>
                        </td>
                    {{/each}}
                    </td>
                </tr>
            </table>
            <br>
            {{#with data}}
                <table width="100%">
                    <tr>
                        <th>Paid Date:{{moFormat paidDate "MMM/DD/YYYY"}}</th>
                        <!--<td></td>-->
                    </tr>
                    <tr>
                        <th>Id:{{_id}}</th>
                        <!--<td></td>-->
                        <th class="text-right">Voucher:{{voucherId}}</th>
                    </tr>
                </table>
            {{/with}}
            <br>
            {{#with data}}
                <table width="100%" class="table">
                    <tr>
                        <td>ឈ្មោះសិស្ស / Student Name:</td>
                        <td>{{_student.latinName}}</td>
                    </tr>
                    <tr>
                        <td>ចំនួនទឹកប្រាក់ដែលត្រូវបង់ / DueAmount:</td>
                        <td>{{numFormat dueAmount "$ 0,0.00"}}</td>
                    </tr>
                    <tr>
                        <td>ចំនួនទឹកប្រាក់ដែលបានបង់ / Paid Amount:</td>
                        <td>{{numFormat paidAmount "$ 0,0.00"}}</td>
                    </tr>
                    <tr>
                        <td>ទឹកប្រាក់ជាអក្សរ / In Word:</td>
                        <td>{{toWords paidAmount}} ដុល្លា</td>
                    </tr>
                    <tr>
                        <td>បរិយាយ / Description:</td>
                        <td>{{_subject.name}}</td>
                    </tr>
                </table>
            {{/with}}

        </div>

        <br>
        <table width="100%" border="0" style="text-align: center">
            <tr>
                <td width="33%">
                    នាយក / Director By<br><br><br><br><br>
                    __________________<br>
                </td>
                <td width="33%">
                    អ្នកពិនិត្យ / Verify By<br><br><br><br><br>
                    __________________<br>
                </td>
                <td>បេឡាធិការ / Cashier<br><br><br><br><br>
                    __________________<br>
                </td>
            </tr>
        </table>
    </div>
    {{print}}
</template>