<template name="tabularAction">

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle fa fa-bars" type="button" data-toggle="dropdown"></button>
        <ul class="dropdown-menu">
            <!-- {{> Template.contentBlock}} -->
            <li>
                <a href="" id="js-update">{{fa "edit"}} Update</a>
            </li>
            <li>
                <a href="" class="jsRemove">{{fa "trash"}} Remove</a>
            </li>
            <li>
                <a href="" id="js-show">{{fa "eye"}} Show</a>
            </li>
        </ul>
    </div>

</template>
